h1 {
    margin-bottom:110px;
  }


  .full {
    width: 100%;
    margin-bottom:20px;
  }

  .full img {
    width: 100%;
  }

  .row {
    float: center;
    margin: 0;
    margin-top: -5px;
    margin-bottom: -5px;
  }
  .column {
    float: left;
    width: 50%;
    margin-top: -5px;
    margin-bottom: -5px;
    padding: 0;
}

.column img {
    width: 100%;
}

