@import "fonts";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  font: 14px/1.5 "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333333;
}

header {
  background-color: #ffffff;
  padding: 20px 20vw; /* Use vw para uma largura responsiva */
  border-bottom: 1px solid #ddd;
  font: 14px/1.5 "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing:subpixel-antialiased;
  position: fixed; /* Torna o header fixo */
  top: 0; /* Fixa no topo */
  width: 100%; /* Garante que ocupe a largura total da janela */
  z-index: 1000; /* Garante que o header fique acima de outros elementos */
  color: #333333;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}

nav a {
  text-decoration: none;
  color: #757575;
  font-weight:lighter;
  transition: 1s;
}

nav span {
  background-color: #ffffff;
  padding: 1px 0;
  border-bottom: 1px solid #ffffff;
  transition: 1s;
}

nav span:hover {
  background-color: #ffffff;
  padding: 1px 0;
  border-bottom: 1px solid #b1b1b1;
  transition: 1s;
}

nav a:hover {
  color: #000000;
  transition: 1s;
}


.container {
  display: flex;
  align-items: flex-start; /* Garante que a sidebar fique no topo do conteúdo */
  margin: 20px;
  padding: 0 15vw; /* Alterado para vw */
}

.sidebar {
  position: sticky;
  top: 70px; /* A sidebar vai "grudar" no topo após rolar 20px antes de chegar lá */
  width: 400px; /* Defina a largura que deseja */
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  margin-right: 20px;
}

.sidebar img {
  width: 100%;
  margin-bottom: 15px;
}

.sidebar p {
  font-size: 14px;
  color: #5a5a5a;
  margin-bottom: 15px;
}

.social-icons {
  display: flex;
  gap: 10px;
}

.social-icons a img {
  width: 24px;
  height: 24px;
}

.projects {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  width: 100%;
}

.project {
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  color: #999999;
}

.project-image img {
  width: 100%;
  opacity: 70%;
  filter: grayscale(80%);
  filter: blur(1px);
  height: auto; 
  transition: 2s;
}

.project:hover .project-image img {
  opacity: 100%;
  filter: grayscale(0%);
  filter: blur(0px);
  transition: 1s;
}


.project-details h3 {
  font-size: 18px;
  margin-bottom: 10px;
  line-height: 1;
  color: #494949;
}

.project-details p {
  font-size: 14px;
  color: #5a5a5a;
  margin-bottom: 10px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.hashtags {
  font-size: 12px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.hashtags span {
  background-color: #E4E4E4;
  padding: 5px;
  border-radius: 10px;
  font-size: 12px;
  margin-right: 5px;
}

.project-icons {
  display: flex;
  gap: 10px;
}

.project-icons a img {
  width: 100%;
  height: 28px;
  opacity: 70%;
  transition: 1s;
  padding: 2px;
  border-radius: 5px;
  border-bottom: 1px solid #ffffff;
}

.project-icons a img:hover {
  background-color: #E4E4E4;
  opacity: 100%;
  transition: 1s;
  border-bottom: 1px solid #b1b1b1;
}

h2 {
  text-align: left;
  margin-bottom: 20px;
  font-size: 28px;
  color: #333;
  border-bottom: 2px solid #ddd;
  padding-bottom: 10px;
}

.intro {
  font-size: 13px;
  margin: 10px;
  color: #666;
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  margin-top: 30px;
}

.services {
  padding: 3vw 17vw 0 17vw;
}

.service {
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
}

.service img {
  width: 80px;
  margin-bottom: 15px;
  filter: grayscale(50%)
}

.service h3 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #333;
}

.service p {
  font-size: 12px;
  color: #666;
}

.service a {
  color: #007BFF;
  text-decoration: none;
}

.service a:hover {
  text-decoration: underline;
}

.modal {
  display: none; 
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); 
  opacity: 0; 
  transition: 3s ease; 
}

.modal.show {
  display: block;
  opacity: 1; 
  transition: 3s ease; 
}


.modal-content {
  background-color: #e9e9e9;
  margin: 15% auto;
  padding: 50px;
  width: 50%; /* Ajuste a largura conforme necessário */
  border-radius: 10px;
  text-align: center;
  opacity: 0; /* Inicialmente invisível */
  transform: scale(0.9); /* Inicialmente reduzido */
  transition: all 0.5s ease; /* Transição suave para o conteúdo */
}

/* Quando o modal está visível, aplique transições no conteúdo */
.modal.show .modal-content {
  opacity: 1; /* Torna o conteúdo visível */
  transition: 3s ease; /* Transição suave */
  transform: scale(1); /* Cresce suavemente para o tamanho original */
}

/* Botão de fechar */
.close-btn {
  position: absolute;
  top: 10px;
  right: 20px;
  color: #696969;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close-btn:hover, .close-btn:focus {
  color: #000;
}

#closePopup {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#closePopup:hover {
  background-color: #0056b3;
}
