.header {
    width: 100%;
    height: 190px;
    margin-bottom:20px;
    opacity: 1;
    padding-bottom: 0px;
    background-image: url("0.png");
    background-repeat: no-repeat;
    background-position: center top;
  }

.header:hover {
    background-image: url("img/0.gif");
  }

  .full {
    width: 100%;
    margin-bottom:20px;
  }

  .full img {
    width: 100%;
  }

  .row {
    float: center;
    margin: 0;
    margin-top: -5px;
    margin-bottom: -5px;
  }
  .column {
    float: left;
    width: 50%;
    margin-top: -5px;
    margin-bottom: -5px;
    padding: 0;
}

.column img {
    width: 100%;
}

/* SCROLL */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #d6d6d6;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #b6b6b6;
  }
