.header {
    width: 100%;
    height: 190px;
    margin-bottom:20px;
    opacity: 1;
    padding-bottom: 0px;
    background-image: url("0.png");
    background-repeat: no-repeat;
    background-position: center top;
  }

.header:hover {
    background-image: url("0.gif");
  }


body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0 50rem;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #1e88e5;
}

h3 {
    color: #4caf50;
}

p {
    line-height: 1.6;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
}

a {
    color: #1e88e5;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

hr {
    border: none;
    border-top: 1px solid #ccc;
    margin: 20px 0;
}
